*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
.container{
    text-align: center ;
    width:75%;
    margin:0 auto;
}
.container h1{
margin-top: 50px;
color:rgb(43, 17, 65);
}
table{
    margin:auto;
}
#screen{
    font-size: 20px;
    margin-bottom: 10px;
   
    border-radius: 5px;
    height:45px;
    width:auto;
}
.calculator{
    margin-top: 33px;
}
button{
    font-size: 20px;
    width:60px;
    height:33px;
    border-radius: 5px;
    background-color:rgb(196, 189, 189);
    color:black;
}